<div>
    <h1>Website Hompage</h1>
</div>
<div>
    <ul>
        <li><a href="{:url('index/index/index')}">Homepage</a></li>
        <li><a href="{:url('index/about/index')}">About Us</a></li>
        <li><a href="{:url('index/product/index')}">Product</a></li>
        <li>
            <a href="{:url('index/events/index')}">Events</a>
            <ul>
                <li><a href="{:url('index/events/detail')}">Event detail</a></li>
            </ul>
        </li>
        <li><a href="{:url('index/contact/index')}">Contact</a></li>
    </ul>
</div>